<div class="body">
  <div *ngIf="favorites?.length" class="favorite">
    <div *ngFor="let cat of favorites" class="img-field">
      <img class="image" src="{{cat.image}}">
      <button class="delete" (click)="deleteCatfromFavorites(cat.id)">X</button>
      <div class="likes">
        <div class="like like-box">
          <img src="assets/like.png" alt="like" class="like-img box-img" (click)="like('like', cat.id)"> {{cat.like}}
        </div>
        <div class="dislike like-box">
          <img src="assets/dislike.png" alt="like" class="dislike-img box-img" (click)="like('dislike', cat.id)">
          {{cat.dislike}}
        </div>
      </div>
    </div>
  </div>
</div>
