.body {
    background-color: rgb(250, 201, 208);
    width: 97%;
    margin-bottom: 3%;
    border-radius: 2%;
}

.favorite {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-field {
    display: flex;
    position: relative;
    width: min-content;
    margin: 3% 0;
}

.image:active {
    width: 50vw;
    height: auto;
}

.image {
    height: 15vw;
    border-radius: 5%;
}

.delete {
    display: none;
}

.img-field:hover .delete {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    left: 1%;
    top: 1%;
    cursor: pointer;
    border-radius: 7%;
    border: none;
    background-color: rgb(250, 237, 239);
    color: red;
    padding: 0;
    font-size: 1em;
}

.like-box {
    width: 2vw;
    height: 3vw;
    position: absolute;
    font-size: 1em;
    display: flex;
}

.box-img {
    width: 2vw;
    height: 2vw;
    margin-right: 0.5vw;
}

.like-img {
    right: 63%;
    bottom: -21%;
}

.dislike-img {
    right: 31%;
    bottom: -21%;
}

.like {
    width: 2vw;
    right: 63%;
    bottom: -21%;
    color: rgb(10, 179, 10);
}

.dislike {
    width: 2vw;
    right: 31%;
    bottom: -21%;
    color: rgb(209, 18, 18);
}