<body>
  <div class="container">

    <div class="welcome-left">
      <h1 class="cat-app">Cat 🐱
        or Dog 🐶 App</h1>
      <h2 class="welcome-welcome">Welcome!</h2>
      <h2 class="welcome-lets">Lets start using</h2>
      <div class="welcome-links">
        <div class="welcome-link-div" (click)="toVoting()">
          <picture class="img-link-blue img-link-picture">
            <img class="img-link" src="assets/voting.png" alt="SEARCH">
          </picture>
          <h6 class="welcome-link-text">SEARCH</h6>
        </div>
        <div class="welcome-link-div" (click)="toFavoritesDogs()">
          <picture class="img-link-green img-link-picture">
            <img class="img-link" src="assets/dog.png" alt="BREEDS">
          </picture>
          <h6 class="welcome-link-text">FAVORITE DOGS</h6>
        </div>
        <div class="welcome-link-div" (click)="toFavoritesCats()">
          <picture class="img-link-yellow img-link-picture">
            <img class="img-link heart" src="assets/breeds.png" alt="GALLERY">
          </picture>
          <h6 class="welcome-link-text">FAVORITE CATS</h6>
        </div>
      </div>
    </div>

    <div class="right">
      <router-outlet></router-outlet>
    </div>

  </div>

</body>