<div class="body">
  <div *ngIf="favorites?.length" class="favorite">
    <div *ngFor="let dog of favorites" class="img-field">
      <img class="image" src="{{dog.image}}">
      <button class="delete" (click)="deleteDogfromFavorites(dog.id)">X</button>
      <div class="likes">
        <div class="like like-box">
          <img src="assets/like.png" alt="like" class="like-img box-img" (click)="like('like', dog.id)"> {{dog.like}}
        </div>
        <div class="dislike like-box">
          <img src="assets/dislike.png" alt="like" class="dislike-img box-img" (click)="like('dislike', dog.id)"> {{dog.dislike}}
        </div>
      </div>
    </div>
  </div>
</div>
