<div class="container" *ngIf="(animal$ | async)as animal">

  <div class="input-field">
    <label class="input-lable" for="searchBreed">Search for breed</label>
    <select class="input-select" id="searchBreed" (change)="search($event.target)">
      <option class="input-option" value="{{breed.id}}" *ngFor="let breed of animals$ | async">{{breed.name}}</option>
    </select>
  </div>

  <div class="name-box">
    <p class="name">{{animal.name}}</p>
  </div>

  <div class="field">
    <img src="{{animal.image}}" alt="cat-photo" class="image">
    <p class="description">
      {{animal.description}}
      <a class="read-more" *ngIf="animal.wikipediaUrl" href={{animal.wikipediaUrl}} target="_blank">read more...</a>
    </p>

    <button class="arrow left" (click)="changeImage('previouse')"><</button>
    <button class="arrow right" (click)="changeImage('next')"><</button>

    <div class="add-likes-box">
      <button class="add-like like" [disabled]="!favorite" (click)="addLike(animal.id, 'like')">
        <span *ngIf="like > 0" class="like-number">{{like}}</span><img class="like-img" src="assets/like.png">
      </button>
      <button class="add-like heart" [ngClass]="{'red': favorite}" (click)="toFavorite(animal)">&#10084;</button>
      <button class="add-like dislike" [disabled]="!favorite" (click)="addLike(animal.id, 'dislike')">
        <img class="like-img" src="assets/dislike.png"><span class="like-number" *ngIf="dislike > 0">{{dislike}}</span>
      </button>
    </div>
  </div>

</div>
